@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* padding: 50px; */
}

* {
  margin: 0;
  padding: 0;
}

.header {
  /* border-bottom: 1px solid gray; */
  padding: 25px;
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

button, a {
  background-color: lightgray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  height: 25px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.centered {
  position: fixed; /* or absolute */
  top: 30%;
  left: 50%;
}